body {
	margin: 0px
}

.mainHeader {
	position: fixed;
	display: flex;
	background-color: darkgrey;
	height: 80px;
	width: 100%;
	z-index: 4;
	font-size: 500%;
	text-align: center;
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.2);;
}


.fa {
	flex: 1;
	justify-content: space-between;
	text-decoration: none;
	height: 40px;
	size: 100px;
	color: black;
	opacity: 0.3;
	text-align: center;
}

.fa:hover {
	opacity: 1;
	transition: 0.5s;
}

#articleBody {
	background-color: rgba(0, 0, 0, 0.19);
}

#headerImage {
	position: relative;
	width: 100%;
	z-index: 1;
}

#asterisk {
	font-family: "Andale Mono";
	color: darkgrey;
	opacity: 80%;
}

.mainContent-container {
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: -20%;
	background-color: white;
	height: auto;
	min-width: 400px;
	width: 60%;
	z-index: 2;
}

#author {
	position: fixed;
	margin-left: 30px;
	font-family: "Andale Mono";
	font-style: italic;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.23);
}

#author:hover {
	color: white;
	transition: 0.3s;
}

.sideBlank {
	flex: 2;
	background-color: #ececec;
}

.mainContentArticles {
	flex: 8;
	margin-top: 40px;
	alignment: center;
	align-content: space-around;
}

#articlesHeader {
	text-align: center;
	font-family: "Andale Mono";

}

.articlesContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: space-between;

}

.articleCard {
	flex-wrap: nowrap;
	align-content: space-evenly;
	justify-content: space-evenly;
	height: 250px;
	margin: 40px;
	display: flex;
	flex-direction: row;
	max-height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.articleCard:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardImage {
	flex: 2;
	height: 100%;
	max-width: 170px;
	object-fit: cover;
}

.cardDescription {
	flex: 8;
	margin: 20px;
	font-family: "Andale Mono";
}

.articleLink {
	text-decoration: none;
	animation: blinkingText 4s linear infinite;
}

@keyframes blinkingText {
	0% {
		color: #000;
	}
	60% {
		text-shadow: 1px 1px 3px rgba(66, 158, 255, 0.8);
	}
	100% {
		color: #000;
	}
}

.articleLink:visited{
	color: black
}
.linkWithinText:visited {
	color: black
}
.linkWithinText{
	text-decoration: none;
}

.tooltip { /* Container for our tooltip */
	position: absolute;
	display: inline-block;
}

.tooltiptext { /* This is for the tooltip text */
	visibility: hidden;
	width: 100px;
	background-color: #8512d5;
	color: white;
	border-radius: 10px;  /* This defines tooltip text position */
	position: relative;
	z-index: 12;
}